<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/biggs-logo.png" alt="Kaldi logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Burgers by Biggs</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/menus" class="link">Menus</a></li>
					<li><a href="/burgers" class="link">Burgers</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Hours</h3>
				<ul class="mb3">
					<li>Sunday - Thursday: 11:00AM - 9:00PM</li>
					<li>Friday - Saturday: 11:00AM - 10:00PM</li>
				</ul>
				<h3 class="f4 b lh-title mb1 primary">Location</h3>
				<ul class="mb3">
					<li>4801 Bauer Farm Drive A</li>
					<li>Lawrence, KS 66049</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
